@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #050505; /* True black background */
}

h1, h2, h3, .hype-font {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}